 /**
 * Trail
 */
.trail {
  position: relative;
}
.trail::after {
  content: '';
  position: absolute;
  background: currentColor;
  pointer-events: none;
}

/* Trail mixin */
/* Trail animation mixin */
/* Trail generation */
/** Top **/
.trail--top {
  /*** Animation ***/
  /*** Hover animation ***/
}
.trail--top::after {
  bottom: 100%;
  margin-bottom: 1em;
  height: 6em;
  width: 1px;
  left: 50%;
}
@-webkit-keyframes trail-animation-top {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50.01% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes trail-animation-top {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50.01% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
.trail--top.trail--animation::after {
  -webkit-animation: trail-animation-top 1s infinite;
          animation: trail-animation-top 1s infinite;
}
.trail--top.trail--animation-hover:hover::after {
  -webkit-animation: trail-animation-top 1s infinite;
          animation: trail-animation-top 1s infinite;
}

/** Right **/
.trail--right {
  /*** Animation ***/
  /*** Hover animation ***/
}
.trail--right::after {
  left: 100%;
  margin-left: 1em;
  height: 1px;
  width: 6em;
  top: 50%;
}
@-webkit-keyframes trail-animation-right {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50.01% {
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes trail-animation-right {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50.01% {
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
.trail--right.trail--animation::after {
  -webkit-animation: trail-animation-right 1s infinite;
          animation: trail-animation-right 1s infinite;
}
.trail--right.trail--animation-hover:hover::after {
  -webkit-animation: trail-animation-right 1s infinite;
          animation: trail-animation-right 1s infinite;
}

/** Bottom **/
.trail--bottom {
  /*** Animation ***/
  /*** Hover animation ***/
}
.trail--bottom::after {
  top: 100%;
  margin-top: 1em;
  height: 6em;
  width: 1px;
  left: 50%;
}
@-webkit-keyframes trail-animation-bottom {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50.01% {
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes trail-animation-bottom {
  0% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50.01% {
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
.trail--bottom.trail--animation::after {
  -webkit-animation: trail-animation-bottom 1s infinite;
          animation: trail-animation-bottom 1s infinite;
}
.trail--bottom.trail--animation-hover:hover::after {
  -webkit-animation: trail-animation-bottom 1s infinite;
          animation: trail-animation-bottom 1s infinite;
}

/** Left **/
.trail--left {
  /*** Animation ***/
  /*** Hover animation ***/
}
.trail--left::after {
  right: 7%;
  margin-top: 1em;
  height: 1px;
  width: 6em;
  top: 50%;
  
}
@-webkit-keyframes trail-animation-left {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50.01% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes trail-animation-left {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50.01% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
.trail--left.trail--animation::after {
  -webkit-animation: trail-animation-left 1s infinite;
          animation: trail-animation-left 1s infinite;
}
.trail--left.trail--animation-hover:hover::after {
  -webkit-animation: trail-animation-left 1s infinite;
          animation: trail-animation-left 1s infinite;
}


